.footer {
  text-align: center;
  padding: 60px;
  background-color: #ff6262;
}

.footer a {
  font-size: 30px;
  color:  #f700ff;
}

.footer p {
  color: #dee0e0;
}

.footer .fas {
  color: #fe0004;
}
